<div class="row" ng-init=Init()>
    <div class="x_title">
        <h2>Laporan</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="" data-target="#tab_content1" id="home-tab" ng-click="clear()" role="tab"
                    data-toggle="tab" aria-expanded="true">Pegawai</a>
            </li>
            <li role="presentation" class=""><a href="" data-target="#tab_content2" role="tab" id="profile-tab" ng-click="clear()"
                    data-toggle="tab" aria-expanded="false">Bulanan</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <div class="col-xs-12">
                    <form data-parsley-validate class="form-horizontal form-label-left input_mask pull-left"
                        ng-submit="Simpan()">
                        <div class="col-md-4 col-sm-7 col-xs-12 form-group has-feedback">
                            <select class="form-control has-feedback-left"
                                ng-options="item as item.Nama for item in Bulan track by item.Id" ng-model="selected"
                                ng-change="GetData()" required></select>
                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-7 col-xs-12 form-group has-feedback">
                            <select class="form-control has-feedback-left"
                                ng-options="item as item.Nama for item in DatasPegawai track by item.Nama"
                                ng-model="selectedPegawai" ng-change="GetData()" required></select>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <a href="" class="btn btn-success has-feedback-left"
                                ng-click="printLaporanPegawai('IdPegawai')">Print</a>
                        </div>
                    </form>
                </div>

                <div id="IdPegawai" class="row">

                    <center>
                        <h1>Laporan Absen Pegawai</h1>
                        <h3>{{selectedPegawai.Nama}}</h3>
                    </center>
                    <br>
                    <table class="table table-bordered" witdh="50%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>Jam Datang</th>
                                <th>Jam Pulang</th>
                                <th>Terlambat</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DatasLaporan">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{item.Tanggal}}</td>
                                <td>{{item.JamDatang}}</td>
                                <td>{{item.JamPulang}}</td>
                                <td>{{item.Terlambat}}</td>
                                <td>{{item.Keterangan}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <form data-parsley-validate class="form-horizontal form-label-left input_mask pull-left"
                        ng-submit="Simpan()">
                        <div class="col-md-4 col-sm-7 col-xs-12 form-group has-feedback">
                            <select class="form-control has-feedback-left"
                                ng-options="item as item.Nama for item in Bulan track by item.Id" ng-model="selected"
                                ng-change="GetBulan()" required></select>
                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-5 col-sm-7 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Jumlah Hari Kerja"
                                ng-model="DataInput.JumlahHari" ng-change="GetBulan()" />
                            <!-- <select class="form-control has-feedback-left"
                                        ng-options="item as item.Nama for item in Bulan track by item.Id" ng-model="selected"
                                        ng-change="GetBulan()" required></select> -->
                            <span class="fa fa-circle-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                            <a href="" class="btn btn-success has-feedback-left"
                                ng-click="printLaporanBulanan('IdBulanan')">Print</a>
                        </div>
                    </form>

                <div id="IdBulanan" class="row">

                    <center>
                        <h1>Laporan Absen Bulan</h1>
                        <h3>{{selected.Nama}}</h3>
                    </center>
                    <br>
                    <table class="table table-bordered" witdh="50%">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">No</th>
                                <th rowspan="2" class="text-center">NIP</th>
                                <th rowspan="2" class="text-center">Nama</th>
                                <th rowspan="2" class="text-center">Jumlah Hari Kerja</th>
                                <th colspan="5" class="text-center">Keterangan</th>
                                <th rowspan="2" class="text-center">Jumlah Hadir</th>
                                <th rowspan="2" class="text-center">Jumlah Tidak Hadir</th>
                                <th rowspan="2" class="text-center">Presentasi</th>
                            </tr>
                            <tr>
                                <th class="text-center">H</th>
                                <th class="text-center">S</th>
                                <th class="text-center">I</th>
                                <th class="text-center">A</th>
                                <th class="text-center">Cuti</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DatasLaporan">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{item.NIP}}</td>
                                <td>{{item.Nama}}</td>
                                <td>{{item.JumlahHari}}</td>
                                <td>{{item.Hadir}}</td>
                                <td>{{item.Sakit}}</td>
                                <td>{{item.Ijin}}</td>
                                <td>{{item.Alpa}}</td>
                                <td>{{item.Cuti}}</td>
                                <td>{{item.Hadir}}</td>
                                <td>{{item.JumlahTidakHadir}}</td>
                                <td>{{item.Presentase}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>