<div id="register" class="animate form registration_form col-md-4">
  <section class="login_content">
    <form ng-submit="Login()">
      <h1>Login Sistem</h1>
      <div>
        <input type="email" class="form-control" placeholder="Email" ng-model="DataInput.Email" required />
      </div>
      <div class="clearfix"></div>
      <br />
      <div>
        <input type="password" class="form-control" ng-model="DataInput.Password" placeholder="Password" required />
      </div>
      <div class="clearfix"></div>
      <br />
      <div>
        <button type="submit" class="btn btn-default submit">Login</button>
      </div>
    </form>
  </section>
</div>