<div id="register" class="animate form registration_form col-md-4">
    <section class="login_content">
      <form>
        <h1>Login Sistem</h1>
        <div>
          <input type="email" class="form-control" placeholder="Email" required="" />
        </div>
        <div class="clearfix"></div>
        <br />
        <div>
          <input type="password" class="form-control" placeholder="Password" required="" />
        </div>
        <div class="clearfix"></div>
        <br />
        <div>
          <a class="btn btn-default submit" href="index1.html">Login</a>
        </div>
         

        </div>
      </form>
    </section>
  </div>