<div ng-init="Init()">
    <div class="row tile_count">
        <div class="page-title">
            <div class="title_left">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".Tambah" ng-click="Tambah()"><i class="fa fa-plus"></i></button>

            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span> -->
                        <h3>Daftar Pegawai</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered" witdh="50%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Jenis Kelamin</th>
                    <th>Kontak</th>
                    <th>Alamat</th>
                    <th>Email</th>
                    <th>Jabatan</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in DatasPegawai">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{item.NIP}}</td>
                    <td>{{item.Nama}}</td>
                    <td>{{item.JK}}</td>
                    <td>{{item.Kontak}}</td>
                    <td>{{item.Alamat}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Jabatan}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".Edit" ng-click="Edit(item)"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".Hapus" ng-click=""><i class="fa fa-remove"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade {{SetForm}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                    <h4 class="modal-title" id="myModalLabel">{{SetForm}} Pegawai</h4>
                </div>
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" ng-submit="Simpan()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="NIP">NIP<span class="required">*</span>
                                    </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="NIP" required="required" ng-model="DataInput.NIP" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nama">Nama <span class="required">*</span>
                                    </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="Nama" name="Nama" required="required" ng-model="DataInput.Nama" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Jenis Kelamin <span class="required">*</span>
                                    </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p>
                                    Pria:
                                    <input type="radio" class="flat" name="gender" id="genderM" value="Pria" checked="" ng-model="DataInput.JK" required /> Wanita:
                                    <input type="radio" class="flat" name="gender" id="genderF" value="Wanita" ng-model="DataInput.JK" />
                                </p>
                                <!-- <input type="text" id="JenisKelamin" name="JenisKelamin" ng-model="DataInput.JK" required="required" ng-model="DataInput.Nama" class="form-control col-md-7 col-xs-12"> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Kontak">Kontak <span class="required">*</span>
                                    </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="Kontak" name="Kontak" required="required" ng-model="DataInput.Kontak" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Alamat">Alamat <span class="required"></span>
                                    </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="Alamat" name="Alamat" required="required" ng-model="DataInput.Alamat" class="form-control col-md-7 col-xs-12"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">Email <span class="required">*</span>
                                        </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" id="Email" name="Email" required="required" ng-model="DataInput.Email" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group" ng-show="ShowPass" ng-hide="HidePass">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Password">Password <span class="required">*</span>
                                        </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="Password" name="Password" required="required" ng-model="DataInput.Password" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Jabatan">Jabatan <span class="required"></span>
                                        </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="Jabatan" name="Jabatan" required="required" ng-model="DataInput.Jabatan" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-warning" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Simpan</button>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>